<mat-card>
  <h2 class="title">SignIn</h2>
  <form #myForm="ngForm" [formGroup]="loginform" (ngSubmit)="onsubmit()">
    <div>
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email*"
          formControlName="email"
        />
        <mat-error>Please enter a valid email</mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password*"
          formControlName="password"
        />
        <mat-error>Please enter a valid password</mat-error>
      </mat-form-field>
      <br />

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!loginform.valid"
      >
        Login
      </button>
      <button mat-flat-button color="warn" type="button" (click)="clear()">
        Clear
      </button>
    </div>
  </form>
</mat-card>
<br />
<br />
